@if (ProductCategoryDtos is null && ErrorMessage is null)
{
    <DisplaySpinner />
}
else if (ErrorMessage is not null)
{
    <DisplayError ErrorMessage="@ErrorMessage" />
}
else
{
    @foreach (var productCategory in ProductCategoryDtos)
    {
        <div class="nav-item">
            <MudNavLink Href="@($"/productsByCategory/{productCategory.Id}")" Icon="@productCategory.Icon">
                &nbsp;@productCategory.Name
            </MudNavLink>
        </div>
    }
}
